<p>new-order works!</p>
<h2>Add a New Order</h2>

<form name="itemForm">
  <div class="input">
    Date: <input id="Date" type="Date" name="Date" required [(ngModel)]="Date" />
  </div>

  <div class="input">
    Side : <input id="Side" type="text" name="Side" required [(ngModel)]="Side" />
  </div>

  <div class="input">
    Symbol : <input id="Symbol" type="text" name="Symbol" required [(ngModel)]="Symbol" />
  </div>

  <div class="input">
    Quantity : <input id="Quantity" type="number" name="Quantity" required [(ngModel)]="Quantity" />
  </div>

  <div class="input">
    Amount :
    <input id="Amount" type="number" name="Amount" required [(ngModel)]="Amount" />
  </div>

  <div class="input">
    Status :
    <input id="Status" type="text" name="Status" required [(ngModel)]="Status" />
  </div>
  <button (click)="AddItem()"> Add </button>
</form>
