<p>new-order works!</p>
<h2>Add a New Order</h2>
<div class="form-group">
  <form name="itemForm">

    <div><label>Date:
        <input id="Date" type="text" name="Date" required [(ngModel)]="$newItem.Date" class="form-control" />
      </label></div>

    <div><label>Side :
        <input id="Side" type="text" name="Side" required [(ngModel)]="$newItem.Side" class="form-control" />
      </label></div>

    <div><label>Symbol :
        <input id="Symbol" type="text" name="Symbol" required [(ngModel)]="$newItem.Symbol" class="form-control" />
      </label></div>

    <div><label> Quantity :
        <input id="Quantity" type="text" name="Quantity" required [(ngModel)]="$newItem.Quantity"
          class="form-control" />
      </label></div>

    <div><label> Amount :
        <input id="Amount" type="text" name="Amount" required [(ngModel)]="$newItem.Amount" class="form-control" />
      </label></div>

    <div><label> Status :
        <input id="Status" type="text" name="Status" required [(ngModel)]="$newItem.Status" class="form-control" />
      </label></div>
  </form>
  <button (click)="AddItem()"> Add </button>
</div>
