<h1>Create a New Order</h1>

<form>
  <div class="label">
    <label> Date </label>
  </div>
  <div class="input">
    <input id="Date" type="Date" name="Date" required [(ngModel)]="Date" />
  </div>

  <div class="label">
    <label> Side </label>
  </div>
  <div class="input">
    <input id="Side" type="text" name="Side" required [(ngModel)]="Side" />
  </div>
  <div class="label">
    <label> Symbol </label>
  </div>
  <div class="input">
    <input id="Symbol" type="text" name="Symbol" required [(ngModel)]="Symbol" />
  </div>
  <div class="label">
    <label> Quantity </label>
  </div>
  <div class="input">
    <input id="Quantity" type="number" name="Quantity" required [(ngModel)]="Quantity" />
  </div>
  <div class="label">
    <label> Amount </label>
  </div>
  <div class="input">
    <input id="Amount" type="number" name="Amount" required [(ngModel)]="Amount" />
  </div>
  <div class="label">
    <label> Status </label>
  </div>
  <select required [(ngModel)]="Status">
    <option value="1">Allocated</option>
    <option value="2">Filled</option>
    <option value="3">New</option>
    <option value="4">Working</option>
  </select>
  <button (click)="AddItem()" routerLink="/orders"> create </button>
</form>
