<h2>Details</h2>
<div><span> Order# : </span>{{order.id }}</div>

<div><label>Date: {{order.date | uppercase}}
    <input [(ngModel)]="order.date" placeholder="date" />
  </label></div>

<div><label>Side : {{order.side}}
    <input [(ngModel)]="order.side" placeholder="side" />
  </label></div>

<div><label>Symbol : {{order.symbol}}
    <input [(ngModel)]="order.symbol" placeholder="symbol" />
  </label></div>

<div><label> Quantity : {{order.quantity}}
    <input [(ngModel)]="order.quantity" placeholder="quantity" />
  </label></div>

<div><label> Amount : {{order.amount}}
    <input [(ngModel)]="order.amount" placeholder="amount" />
  </label></div>

<div><label> Status : {{order.status}}
    <input [(ngModel)]="order.status" placeholder="status" />
  </label></div>

<button (click)="getSelectedRows()">Get Selected Rows</button>

<ag-grid-angular #agGrid style="width: 1300px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData |async"
  [columnDefs]="columnDefs" rowSelection="multiple" rowClicked="getSelectedRows()">
</ag-grid-angular>
